<html>

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>

<body>
<div class="mat-app-background basic-container">
  <h1 class="text-danger text-center">Welcome to {{ title }}!</h1>
  <hr />

  <div id="fetchbtn">
    <button type="button" class="btn btn-outline-success" (click)="getAllBicycles();">Click me</button>
  </div>
  <div><small class="text-info">Click the button to fetch the bicycles from the database!</small></div>

    <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
      <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns">
        <mat-header-cell *matHeaderCellDef mat-sort-header> {{column}} </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <div *ngIf="column == 'image'">
            <button mat-button (click)="openDialog(element, column)">
              <img id="imageColumn" src="data:image/png;base64,{{element[column]}}"/>
            </button>
          </div>
          <div *ngIf="column == 'price' || column == 'description' || column == 'id'">
            {{element[column]}}
          </div>
          <div *ngIf="column != 'price' && column != 'description' && column != 'id' && column != 'image'">
            <select matNativeControl required (change)="onClick(element, column, $event.target.value)">
              <option [value]="getOption(option, column)" *ngFor="let option of getListByColumn(column)"
                      [selected]="isSelected(element[column], getOption(option, column))" >
                {{getOption(option, column)}}
              </option>
            </select>
          </div>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   [length]="100"
                   [pageSize]="10"
                   showFirstLastButtons></mat-paginator>
</div>
</body>

</html>
